/* Fonts */

/* fraunces-900 - latin */
@font-face {
  font-display: swap;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/fraunces-v31-latin-900.woff2") format("woff2");
}

/* barlow-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-v12-latin-regular.woff2") format("woff2");
}
/* barlow-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/barlow-v12-latin-700.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grey-text: #83888f;
  --dark-blue: #333d4b;
  --common-white: #fefcf7;
  --transition: 0.25s all;
}

body {
  font-family: "Barlow", sans-serif;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 80px;
  padding-right: 80px;
  margin-right: auto;
  margin-left: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark-blue);
}

html {
  background-color: var(--common-white);
}
